.addButton {
   margin-bottom: 10px;
    
    
}

.col-12 {
    margin: 0 1%;
    padding: 0 1%; 
    /* background-color: red !important; */
}

.card {
    margin-bottom: 8%;
}

footer {
    margin-top: 25px;
    padding: 10px
}
